body{
    margin: 60px;
    font-family: 'Open Sans';
    font-size: 20px;
    color: navy;
    line-height: 30px;
    font-style: normal;
    background-color: ivory;
    margin-bottom: 40px;
}

h1{
    font-size: 40px;
    font-family: courier;
    font-style: italic;
    line-height: 50px;
    background-color: beige;
    text-align: center;
    margin-bottom: 30px;
}

h2{
    font-size: 35px;
    line-height: 40px;
}

h3{
    font-size: 20px;
    color: gray;
}